.modal-close-icon {
  font-size: 36px;
}

.preview-image {
  height: 120px;
  object-fit: cover;
  border: 2px solid transparent;
}

.preview-image,
.preview-image::part(image) {
  border-radius: 10px;
}

.selected {
  border-color: #ddd !important;
  border-style: solid;
}
.selected::part(image) {
  filter: brightness(50%);
}

.preview-image-wrapper {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.centered {
  position: absolute;
  top: calc(100% - 17px);
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 3px 3px 0 0;
  color: black;
  font-family: "Exo2", "sans-serif";
  background-color: #ddd;
  padding: 2px 10px;
}

.media-section-divider {
  height: 10px;
  background-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  .media-section-divider {
    background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
  }
}
