.catalog-content-header {
  font-family: "Exo2", "sans-serif";
  justify-content: space-between;
  padding-top: 0 !important;
}

.catalog-content-header .newly-added {
  font-weight: 600;
  font-size: 18px;
}

.catalog-header-location {
  align-items: center;
}

.catalog-header-location ion-label {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
}

.catalog-header-location ion-icon {
  padding-right: 8px;
}
