.equipment-detail .large-icon {
  font-size: 32px;
  color: var(--ion-color-dark-contrast);
}

.equipment-detail .large-icon :focus {
  color: var(--ion-color-dark-shade);
}

.equipment-detail .large-icon-button {
  width: 55px;
  height: 55px;
  background-color: var(--ion-color-dark);
  --border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.equipment-detail .large-icons-row ion-col {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.equipment-detail .equipment-overview ion-text {
  max-width: calc(100% - 35px);
  font-size: 17px;
}

.equipment-detail .sub-heading {
  font-weight: bold;
}

.equipment-detail ion-img {
  height: 310px !important;
  background-color: black;
}
