.technical-data-field{
    display: flex;
    flex-flow: column wrap;
    font-size: 14px;
}

.technical-data-field .label{
    margin-bottom: 2px;
    color: gray;
}

.technical-data-field .data{
    margin-top: 0;
}

.technical-data-field ion-item{
    border-color: red !important;
}
